// ベース色変更
$primary: #795548;
$secondary: #FF9800;
$info: #3F51B5;
$notice: #212121;
$success: #004D40;

// ボタンのhover時の色変化
$btn-hover-bg-shade-amount: 30%;
$btn-hover-bg-tint-amount:  30%;

// 背景色
$body-bg: #FFF3E0;
$input-bg: #FFFFFF;