<h1>[出された問題のid]<%= @question.id %></h1>

<h1>[入力された答え]<div class="notosans"><%= @input_answer %></div></h1>

<h1>[正しい答え]<div class="notosans"><%= @true_answer %></div></h1>

<h1>[正答判定]</h1>
<% if @input_answer == @true_answer %>
  <h1><font color="red">正解！</font></h1>
<% else %>
  <h1><font color="blue">残念、不正解！</font></h1>
<% end %>
<br />
もう一度！
<%= render 'shared/ask_question_button' %>
