<% if flash[:success] %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= flash[:success] %>
  </div>
<% end %>
<% if flash[:danger] %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= flash[:danger] %>
  </div>
<% end %>