<p>こんにちは <%= @resource.email %>!</p>

<p>こちらは「成語テスト」です。</p>

<p>あなたのアカウントに対し、パスワードのリセットがリクエストされました。</p>

<p><%= link_to 'このリンクをクリックして、パスワードを変更してください。', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>なお、パスワードはログイン中の設定変更ページか、パスワードリセットを通してのみ変更が可能です。</p>

<p>※もし本登録にお心あたりが無い方は、 chengyutestweb@gmail.com にご連絡をお願いいたします。</p>

<p>
---------- <br />
成語テスト <br />
http://www.chengyu-test.site <br />
</p>